
*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #f1f3f6;
}

.main{
    display: flex;
    justify-content: center;
}
.flip_search{
    display: flex;
    justify-content:center;
}

/* NAVBAR:  */

#navbar{
    display: flex;
    background-color: #2874f0;
    justify-content: center;
    height: 56px;
    width: 100%;
    align-items: center;
}

.navbar_logo{
    padding-left: 10px;
    padding-bottom: 10px;

}

/* EXPLORE_PLUS: */

.flipkart_logo{
    margin-top:13px;

}
.flipkart_icon{
    height: 20px;
    width: 75px;
}
.explore_plus{
    font-size: 10px;
    font-style: italic;
    margin: -5px 0px 0px 0px;
}
.explore{
    color: white;
    text-decoration: none;
}
.plus{
    color:gold
}
.plus_icon{
    width: 10px;
    margin: 0px -2px;
}

/* SEARCH_BOX: */

.search_box{
    width: 580px;
    margin-top: 0px;
    position: relative;
}
.search{
    width: 530px;
    margin: 8px -5px 8px 8px;
    height: 36px;
    font-size: 14px;
    outline: none;
    padding: 0 16px 0 16px;
}
.search_button{
    position: absolute;
    top: 9px;
    right: 0;
    border: 1px solid #fff;
    background-color: #fff;
    height: 34px;
    width: 44px;
    border-radius: 2px;
    cursor: pointer;
    padding: 0px 35px 6px 8px;
    margin-left: -1px;
}
.search_icon{
    position: absolute;
    top: 9px;
}

/* LINKS: */

.nav{
    margin:0px 0 0 70px;
    width: 30%;
}


.items_login{
    display: flex;
    background-color: white;
    color: #2874f0;
    cursor: pointer;
    border-radius: 2px;
    height: 30px;
    margin: -5px 0 0 0 ;
    padding: 0px 40px 0 40px;
    border: 1px solid #dbdbdb;
    font-weight: 600;
    align-self: center;
}
.items_login_button{
    display: flex;
    margin: 10px;
    align-items: center;
    color: #2874f0;
    font-weight: 550;
    background-color: #fff;
    cursor: pointer;
    border-radius: 2px;
    height: 32px;
    padding: 5px 40px;
}
.link_item{
    display: flex;
    list-style: none;
    justify-content: space-around;
    margin: 0 75px;
}

.items{
    color: white;
    font-weight: 600;
}

.more_cart{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-weight: 550;
    font-size:16px;
}

.more{
    display: flex;
    width: 48px;
    margin: 0 35px;
    justify-content: space-between;
    align-items: center;
}
.more_icon{
    margin: 0 -4px;
    transform: rotate(270deg);
}
.more:hover .more_icon{
    transition: transform 0.25s ease-in-out;
    transform: rotate(180deg);
}

.cart{
    display: flex;
    width: 50px;
    margin: 0 35px;
    justify-content: space-between;
    align-items: center;

}
.cart_icon{
    margin: 0 -4px;
}

.section-container__features{
    display: flex;
    justify-content: center;
    gap: 65px;
    max-width: 2080px;
    padding: 12px 8px;
    text-align: center;
    background-color:#ffffff;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 16%);
}

.section-container__features img{
    height: 64px;
    width: 64px;
    padding: 0 0 4px;
}
.section-container__features span{
    width: 64px;
    height: 20px;
    font-weight: 550;
    font-size: 14px;
}

.feature-img img {
    width: 64px;
    height: 64px;
    transition: transform 0.3s ease;
  }
.feature-img:hover img {
    transform: scale(1.1);
  }
  .feature-img p {
    font-size: 14px;
    font-weight: 600;
    margin-top: 4px;
  }
  .feature-img:hover p{
    color: #2874f0;
    font-weight: 700;
  } 

  .feature-img:hover svg {
    fill: #2874f0;
    transform: rotate(90deg);
  }
/* main body */
.main-section{
    display: flex;
    justify-content: center;
    margin: 10px 0;
    padding: 10px 0;
}
.main-section-deals{
    display: flex;
    width: 90%;
    padding: 10px 0;
}
.main-section-deals-left{
    width: 85%;
    background-color: #ffffff;
    margin:0 15px 0 0;
}
.main-section-deals-right{
    width: 15%;
    background-color: #ffffff;

}
.top-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 16%);
    padding-bottom: 10px;
    padding-top: 5px;
}
.top-heading-content{
    display: flex;
    align-items: center;
    /* margin: 10px 0;
    padding: 0 10px; */
}
.top-heading-content h2{
    font-size: 30px;
    font-weight: 400;
    padding: 10px;
}
.top-heading-content p{
    font-size: 16px;
    color: #212121;
    opacity: 0.6;
    padding: 0 8px;
    font-weight: 600;
}
.top-heading-button{
    /* margin: 10px 0;
    padding: 0 10px; */
}
.top-heading-button button{
    background: #2874f0;
    color: #fff;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%);
    border: none;
    border-radius: 2px;
    padding: 10px 20px;
    font-size: 13px;
    font-weight: 600;
    cursor: pointer;
    outline: none;
    margin-right: 20px;

}
.deals-items{
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    max-width: 1680px;
    width: 100%;
    overflow: inherit;
    overflow-y: hidden;
    padding-bottom: 30px;
}
.deals-items-content{
    text-align: center;
    padding: 0 20px;
}
.deals-items-image{
    width: 175px;
    height: 180px;
}
.deals-items-image img{
    width: 90%;
    height: 90%;
    margin-top: 10px;
    object-fit: scale-down;
    transition: transform 0.3s ease;
}
.deals-items h5{
    font-size: 14px;
    margin-top: 15px;
}
.deals-items-shop{
    font-size: 14px;
    color: #212121;
    opacity: 0.6;
    padding-top: 7px;
    font-weight: 510;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.deals-items-upto{
    font-size: 14px;
    margin: 10px 0px;
    color: #388e3c;
    padding-top: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}



