*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow: hidden; */

}
body{
    background-color: #f1f3f6;
}

/* NAVBAR :: */ 

.navbar{
    width: 100%;
    background-color:  #2874f0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* Navbar Logo */
.navbar_logo{
    margin: 10px;
    /* min-width: ;  */
}
.flipkart_logo{
    margin-top:13px;

}
.flipkart_icon{
    height: 20px;
    width: 75px;
}
.explore_plus{
    font-size: 10px;
    font-style: italic;
    margin: -5px 0px 0px 0px;
}
.explore{
    color: white;
    text-decoration: none;
}
.plus{
    color:gold
}
.plus_icon{
    width: 10px;
    margin: 0px -2px;
}

/* Navbar search  */
.search{
    display: flex;
    width: fit-content;
    background-color: #ffffff;
    height: max-content;
    align-items: center;
    margin: auto;
    margin-right: 30px;
}
.search_bar{
    width: 25vw;
    min-width: 200px;
    height: 35px;
    border: 0;
    outline: none;
    border: 5px #ffffff;
    font-size: 14px;
    padding: 0 0 0 10px;
}
.search_icon{
cursor: pointer;
margin: 10px;
}

.nav-links{
    display: flex;
    gap:20px;
    margin-left: 30px;
    width: 25vw;
    justify-content: space-around;
    align-items: center;
}

.login{
    color: #2874f0;
    background-color:#ffffff ;
    /* min-width: 80px; */

}
.login_item{
    color: #2874f0;
    font-weight: 600;
    background-color: #fff;
    cursor: pointer;
    border-radius: 2px;
    padding: 5px 40px;
    border: 1px solid #dbdbdb;
}
.more,.cart{
    cursor: pointer;
    min-width: 50px;

}
.more_name{
    color: #ffffff;
}
.more_icon{
    transform: rotate(-90deg);
}
.more:hover .more_icon{
    transition: transform 0.30s ease-in-out;
    transform: rotate(90deg);
}
.cart_name{
    color: #ffffff;
}
.nav_wrapper{
    display: flex;
}
@media screen and (max-width:700px){
.navbar{
flex-direction: column;
padding-bottom:10px ;
gap:10px;
}
}

/*SECTION ::*/

.section-container__features{
    display: flex;
    flex-wrap: wrap;
    max-height: 280px;
    overflow-y: scroll;
    justify-content: center;
    gap: 50px;
    max-width: 2080px;
    padding: 12px 8px;
    text-align: center;
    background-color:#ffffff;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 16%);
}

.section-container__features img{
    height: 64px;
    width: 64px;
    padding: 0 0 4px;
}
.section-container__features span{
    width: 64px;
    height: 20px;
    font-weight: 550;
    font-size: 14px;
}

.feature-img img {
    width: 64px;
    height: 64px;
    transition: transform 0.3s ease;
  }
.feature-img:hover img {
    transform: scale(1.1);
  }

.rotater{
    margin: 1px;
    transform: rotate(-90deg);
    fill:black;
}
.feature-img:hover .rotater{
    transition: transform 0.30s ease-in-out;
    transform: rotate(90deg);
    fill: #2874f0;
}

  .feature-img p {
    font-size: 14px;
    font-weight: 600;
    margin-top: 4px;
  }
  .feature-img:hover p{
    color: #2874f0;
    font-weight: 700;
  } 

  .feature-img:hover svg {
    fill: #2874f0;
    transform: rotate(90deg);
  }


/* Main body:: */
.demo{
    display: flex;
    justify-content: center;
    width: calc(210px + 100%);
}

.main-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px 0;
    padding: 20px 84px;
}
.main-section-music{
    display: flex;
    justify-content: space-between;
    width: 90%;
    background-color: #ffffff;
}
.main-section-deals{
    display: flex;
    width: 85%;
    padding: 20px 0;
}
.main-section-deals-left{
    width: 84%;
    background-color: #ffffff;
    margin:0 4px 0 0;

}
.main-section-deals-right{
    width: 16%;
    min-width:210px;
    background-color: #ffffff;
}

.top-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 16%);
    padding-bottom: 10px;
    padding-top: 5px;
}
.top-heading-content{
    display: flex;
    align-items: center;
}
.top-heading-content h2{
    font-size: 30px;
    font-weight: 400;
    padding: 10px;
}
.top-heading-content p{
    font-size: 16px;
    color: #212121;
    opacity: 0.6;
    padding: 0 8px;
    font-weight: 600;
}

.top-heading-button button{
    background: #2874f0;
    color: #fff;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%);
    border: none;
    border-radius: 2px;
    padding: 10px 20px;
    font-size: 13px;
    font-weight: 600;
    cursor: pointer;
    outline: none;
    margin-right: 20px;

}
.deals-items{
    position: relative;
    overflow-x: scroll;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 1700px;
    overflow: inherit;
    overflow-y: hidden;
    padding-bottom: 30px;
    overflow-x: auto;

}
.deals-items-content{
    justify-content:center ;
    text-align: center;
    padding: 0 20px;
    width: 210px;
}
.deals-scroll{
    overflow: auto;
}
.deals-items-image{
    width: 175px;
    height: 180px;
    object-fit: contain;
}
.deals-items-image img{
    width: 90%;
    height: 90%;
    margin-top: 10px;
    object-fit: scale-down;
    transition: transform 0.3s ease;
}
.deals-items h5{
    font-size: 14px;
    margin-top: 15px;
}
.deals-items-shop{
    font-size: 14px;
    color: #212121;
    opacity: 0.6;
    padding-top: 7px;
    font-weight: 510;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.deals-items-upto{
    font-size: 14px;
    margin: 10px 0px;
    color: #388e3c;
    padding-top: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.main-section-deals-right img{
    width: 100%;
    object-fit: cover;
    height: 100%;

}

/* bottom */
.bottom{
    width: 85%;
}

@media screen and (max-width: 1152px) {
    .main-section-deals-left {
        width: 75%;
    }
    .bottom{
        width: 85%;
    }
}

@media screen and (max-width:700px){
    .main-section{
        padding: 20px 0px;
}
    .main-section-deals{
        width: 100%;
    }
    .main-section-deals-right{
        display: none;
    }
    .main-section-deals-left{
        width: 100%;
    }
}

@media screen and (max-width: 1070px) {
    
    .nav-links{
        width: auto;
    }
    .main-section-deals-right {
        min-width:200px;
    }
    
}
@media screen and (max-width: 900px) {
    
    .main-section-deals-right {
        min-width:165px;
    }
    
}

@media screen and (max-width: 504px) {
    
    .top-heading-content h2 {
        font-size: 20px;
    }
    .top-heading-content p {
        font-size: 15px;
    }
    .top-heading-button button {
        padding: 9px 18px;
        font-size: 12px;
    }
}

@media screen and (max-width: 375px) {
    .search_bar {
        width: 20vw;
     min-width: 150px;
    }
    .nav-links {
         margin-left: 0px;
    }
    .top-heading-content h2 {
        font-size: 14px;
    }
    .top-heading-content p {
        font-size: 11px;
    }
    .top-heading-button button {
        padding: 5px 18px;
        font-size: 12px;
    }
}